---
layout: blog
pagination:
  enabled: true
  sort_reverse: true
  sort_field: date
  per_page: 10
---

<!--Blog Cards Section-->
{% for post in paginator.posts %}
    {% include blog-card.html %}
{% endfor %}

{% if paginator.total_pages > 1 %}
<div id="paginate-container" class="mb-5 has-links-light">
  {% if paginator.previous_page %}
  <div id="prev" class="has-text-weight-semibold">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">
      &lt;&nbsp;Newer
    </a>
  </div>
  {% endif %}
  {% if paginator.next_page %}
  <div id="next" class="has-text-weight-semibold">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">
      Older&nbsp;&gt;
    </a>
  </div>
  {% endif %}
</div>
{% endif %}