---
layout: blog
pagination:
  enabled: true
  sort_reverse: true
  sort_field: date
---

<!--Blog Cards Section-->
{% for post in paginator.posts %}
    {% include blog-card.html %}
{% endfor %}

{% if paginator.total_pages > 1 %}
<div id="paginate-container">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% endif %}
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% endif %}
</div>
{% endif %}