---
layout: compress
---

<!DOCTYPE html>
<html>

<head>
  {% include head.html %}
</head>

<body>
  {% include navbar.html %}

  <section class="hero is-fullheight has-text-centered" id="post">
    <div class="hero-body">
      <div class="container">
        <a href="{{page.url | relative_url}}" class="has-text-black" id="title">
          <h1 class="title has-text-centered is-2 has-text-weight-semibold ">{{page.title | markdownify}}</h1>
        </a>
        <hr class="has-background-black">
        <div class="columns is-variable is-5 is-align-items-flex-start">

          {% comment %}
          <div class="column is-6">
            <figure class="image is-16by9 has-shadow">
              <img src="{{page.post-image}}" alt="{{post.title}}" id="post-image">
            </figure>
          </div>
          {% endcomment %}

          <div class="column is-one-third mt-0 pt-5 subtitle has-text-left-desktop has-text-left-fullhd has-text-left-tablet has-text-center-mobile">

            {% unless page.description.size == 0 %}
            <p id="description" 
              class="content has-text-weight-medium 
                has-text-right has-text-centered-mobile">
                {{page.description | markdownify | strip | strip_html | strip_newlines }}
            </p>
            {% endunless %}

            <p class="subtitle is-uppercase is-size-6
              has-text-right has-text-centered-mobile
              has-text-weight-normal has-text-black-ter">
              <b>{{ page.date | date: "%-B %d, %Y" }}</b>
            </p>
          </div>

          <div class="column is-two-thirds content has-text-left">
            <p>{{ content }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include footer.html %}
</body>

</html>